h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 48px
}

h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 36px
}

.collapsible {
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

.active, .collapsible:hover {
  background-color: hsl(0, 0%, 85%);
}

.inner-collapsible {
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
  padding: 0 36px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 27px;
  font-family: 'Oswald', sans-serif;
  max-height: 0;
  overflow: hidden;
  display: block;
  transition: max-height 0.2s ease-out;
}

.inner-active, .inner-collapsible:hover {
  background-color: hsl(0, 0%, 85%);
}

.content {
  background-color: hsl(0, 0%, 95%);
  padding: 0 72px;
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.nav {
  width: 100%;
  font-family: 'Poppins';
  border: 10px;
  text-align: center;
  table-layout: fixed;
}

.info {
  display: inline-block;
  height: 295px;
  vertical-align: top;
  padding: 10px;
  font-size: 20px;
  font-family: 'Poppins';
  color: hsl(0, 0%, 50%);
}
